<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BabbelChallenge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEABC81424EFC52C0036BFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEABC82A24EFC5340036BFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEABC83524EFC5340036BFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
